.center {
  text-align: center;
}

.ul {
  list-style-type: none;
}

.form-container {
  height: inherit;
}
.form-div {
  height: 55%;
  width: 31%;
  margin: 0 auto;
  margin-top: 140px;
  border-radius: 5px;
  padding: 25px;
}

.form-input {
  margin-top: 28px;
}
.form-btn {
  margin-top: 20px;
  font-size: 23px;
  font-weight: bold;
}

.form-h2 {
  margin: 0;
}

.leaderboard-container {
  height: inherit;
}
.leaderboard-div {
  height: 75%;
  width: 60%;
  margin: 0 auto;
  margin-top: 140px;
  border-radius: 5px;
  padding: 25px;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

.result-container {
  height: inherit;
}
.result-div {
  height: 55%;
  width: 31%;
  margin: 0 auto;
  margin-top: 140px;
  border-radius: 5px;
  padding: 25px;
}

.result-input {
  margin-top: 28px;
}
.result-btn {
  margin-top: 20px;
  font-size: 23px;
  font-weight: bold;
}

.result-h2 {
  margin: 0;
}