.center {
  text-align: center;
}

.ul {
  list-style-type: none;
}

.login-container{
  height: inherit
}
.login-div{
  height: 55%;
  width: 31%;
  margin: 0 auto;
  margin-top: 140px;
  border-radius: 5px;
  padding: 25px;
}

.login-input{
  margin-top:28px;
}
.login-btn{
  margin-top: 20px;
  font-size: 23px;
  font-weight: bold;
}

.login-h2{
  margin: 0;
}

.leaderboard-container{
  height: inherit
}
.leaderboard-div{
  height: 75%;
  width: 60%;
  margin: 0 auto;
  margin-top: 140px;
  border-radius: 5px;
  padding: 25px;
}

th, td {
  text-align: center;
  vertical-align: middle;
}